<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.springcloud.dao.DeptDao" >

    <select id="findById" resultType="com.atguigu.springcloud.entities.Dept" parameterType="Long">
        select id,deptname,db_source from dept where id=#{id};
    </select>
    <select id="findAll" resultType="com.atguigu.springcloud.entities.Dept">
        select id,deptname,db_source from dept;
    </select>
    <insert id="addDept" parameterType="com.atguigu.springcloud.entities.Dept">
        INSERT INTO dept(deptname,db_source) VALUES(#{deptname},DATABASE());
    </insert>



</mapper>


